/* Подключаем необходимые шрифты */

/* roboto-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Обнуляем стили */

html {
	box-sizing: border-box;
	font-size: calc(100vw / 1920 * 10);
	@media (max-width: 1024px) {
		html {
			font-size: calc(100vw / 768 * 10);
		}
	}
	@media (max-width: 767px) {
		html {
			font-size: calc(100vw / 500 * 10);
		}
	}
	@media (max-width: 500px) {
		html {
			font-size: calc(100vw / 375 * 10);
		}
	}
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img {
	display: block;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
body {
	max-width: 2011px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	height: 8000px;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
}
:root {
	--main-color: #007765;
	--footer-color: #333333;
}

/* Стили для текстов  */

.text-h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 6.4rem;
}
.text-p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 3.2rem;
}

/* Header styles */

.header {
	background-color: var(--main-color);
}
.header__container {
	padding-top: 1.7rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.header__logo-link {
	text-decoration: none;
}
.header__navigation {
}
.header__nav-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.4rem;
}
.header__nav-list-item {
	color: #fff;
	font-size: 2.4rem;
	line-height: 2.8rem;
}
.header__nav-link {
	text-decoration: none;
	color: #fff;
	line-height: 2.8rem;
}

/* Jumbotron styles */

.jumbotron {
	min-height: 403px;
	background-image: url(../images/Header_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.jumbotron__title {
	font-weight: 500;
	font-size: 7.2rem;
	line-height: 8.4rem;
	color: #fff;
}

/* Problem styles */

.problem {
	padding-top: 4.8rem;
	padding-bottom: 9.2rem;
}
.problem__title {
	color: var(--main-color);
	text-align: center;
	margin-bottom: 1.8rem;
}
.problem__description {
	width: 1100px;
	margin-bottom: 4rem;
}
.problem__description:last-child {
	margin-bottom: 0;
}
.problem__description span {
	font-weight: 700;
}

/* Hero styles */

.hero {
	padding: 128px 0;
	background-image: url(../images/Hero-block_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container blockquote {
	display: block;
	width: 89.3rem;
	margin: 0 auto;
}
.hero__blockquote {
	text-align: center;
	font-size: 4.8rem;
	font-style: italic;
	color: #fff;
}

/* PPC styles */

.ppc {
	padding-top: 4.8rem;
	padding-bottom: 9.2rem;
}
.ppc__img {
	float: left;
	margin-right: 4.8rem;
}
.ppc__title {
	color: var(--main-color);
	text-align: center;
	margin-bottom: 1.8rem;
}
.ppc__description_first-par {
	display: inline;
}
.ppc__top-description {
	margin-bottom: 4rem;
}
.ppc__description {
	margin-bottom: 4rem;
}
.ppc__description:last-child {
	margin-bottom: 0;
}

/* team styles */

.team {
	padding-top: 5.8rem;
	padding-bottom: 11.2rem;
	background-color: #eeeeee;
}
.team__title {
	color: var(--main-color);
	text-align: center;
	margin-bottom: 5.6rem;
}
.team__cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
	row-gap: 8rem;
	column-gap: 2.8rem;
}
.team__card {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.team__card-pic {
	margin-bottom: 12px;
}
.team__card-thumb {
}
.team__card-title {
	font-size: 2.4rem;
	color: var(--main-color);
	font-weight: 700;
	margin: 0 auto;
}
.team__card-description {
	font-size: 18px;
}
